:root {
    --bg-success: #cff3da;
    --bg-warning: #fcfbc9;
    --bg-info: #cddeff;
    --bg-error: #fad3d7;
    --text-success: #237a47;
    --text-warning: #a99a42;
    --text-info: #423d9a;
    --text-error: #a24b5f;
}
body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 0.5em;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 0.5em;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success {
    background: var(--bg-success);
    color: var(--text-success);
}
.message-warning {
    background: var(--bg-warning);
    color: var(--text-warning);
}
.message-error {
    background: var(--bg-error);
    color: var(--text-error);
}
